@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');

html{
  box-sizing: border-box;
}

.navbar-heading{
  font-family: Chewy, cursive;
  background-color: darkorange;
  font-size: calc(.6rem + 1.4vw);
  color: white;
  cursor: pointer;
}

.menu-heading{
  font-size: calc(.5rem + 1.4vw);
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.table-header-font{
 font-size: calc(.6rem + .4vw);
}

.custom-button{
  position: relative;
  cursor: pointer;
  display: inline;
  color: white;
  border-radius: .3rem;
  user-select: none;
}

.pointer{
  cursor: pointer;
}

.custom-button:active{
  top:2px;
}

.add-button{
  background-color: cornflowerblue;
}

.delete-button{
  background-color: #D60000;
}

.deleted-item{
  text-align: center;
  background-color: #FFDEDE;
  color: #D60000;
  border-color: #D60000;
  transition: opacity 1s ease 2s;
  opacity: 0;
}

.table_row_buttons{
  margin-left: 0;
}

.form-adjust{
  padding-right: .75rem !important;
  background-image: none !important;
}

.category-card-input{
  display: inline-flex;
  width: 70% !important;
  padding-right: 3%
}
